/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background: #fefce8;
}

/* ALL ELEMENTS */

* {
  box-sizing: border-box;
}

/* MOBILE TAP EFFECT REMOVE */

input,
select,
button,
textarea {
  -webkit-tap-highlight-color: transparent;
}

/* SMOOTH SCROLL */

html {
  scroll-behavior: smooth;
}

/* INPUT FIX */

input,
select {
  font-size: 16px;
}

/* IMAGE FIX */

img {
  max-width: 100%;
  display: block;
}

/* BUTTON FIX */

button {
  cursor: pointer;
  border: none;
}

/* MOBILE SAFE AREA */

body {
  padding-bottom: env(safe-area-inset-bottom);
}